= simple_form_for @doc do |f|
	= f.input :title
	= f.input :content
	= f.button :submit, class: "button"

= link_to "Cancel", doc_path

%p.markdown_helper
	%a{:href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"} Markdown cheatsheet